{% from "templates.j2" import flashes, render_field %}
{% extends "layout.j2" %}
{% block title %}Create or Join Team{% endblock %}

{% block content %}
    <div class="section">
        <div class="container">
            {{ flashes() }}
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Create Team</h4>
                        </div>
                        <div class="panel-body">
                            <form method="POST">
                                {{ create_team_form.csrf_token }}
                                <fieldset>
                                    {{ render_field(create_team_form.teamname) }}
                                    {{ render_field(create_team_form.affiliation) }}
                                </fieldset>
                                {{ create_team_form.submit(class_="btn btn-primary") }}
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Join Team</h4>
                        </div>
                        <div class="panel-body">
                            <form method="POST">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
