{% extends "layout.j2" %}
{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
        <center><h1>
            Welcome to your CTF!
        </h1></center>
    </div>
{% endblock %}
