[MASTER]
ignore-patterns=
jobs=1
persistent=yes
suggestion-mode=yes
unsafe-load-any-extension=no

[MESSAGES CONTROL]
disable=too-few-public-methods

[REPORTS]
evaluation=10.0 - ((float(5 * error + warning + refactor + convention) / statement) * 10)
output-format=colorized
reports=yes
score=yes

[REFACTORING]
never-returning-functions=optparse.Values,sys.exit

[BASIC]
argument-naming-style=snake_case
attr-naming-style=snake_case
class-attribute-naming-style=any
class-naming-style=PascalCase
const-naming-style=UPPER_CASE
docstring-min-length=-1
function-naming-style=snake_case
good-names=i,
           j,
           k,
           ex,
           Run,
           _
include-naming-hint=yes
inlinevar-naming-style=any
#inlinevar-rgx=
method-naming-style=snake_case
module-naming-style=snake_case
no-docstring-rgx=^_
property-classes=abc.abstractproperty
variable-naming-style=snake_case

[TYPECHECK]
contextmanager-decorators=contextlib.contextmanager
generated-members=
ignore-mixin-members=yes
ignore-on-opaque-inference=yes
ignored-classes=optparse.Values,thread._local,_thread._local
ignored-modules=
missing-member-hint=yes
missing-member-hint-distance=1
missing-member-max-choices=1

[MISCELLANEOUS]
notes=TODO

[LOGGING]
logging-modules=logging

[FORMAT]
expected-line-ending-format=LF
indent-after-paren=4
indent-string='    '
max-line-length=150
max-module-lines=2000
no-space-check=trailing-comma,
               dict-separator
single-line-class-stmt=no
single-line-if-stmt=yes

[VARIABLES]
additional-builtins=
allow-global-unused-variables=yes
callbacks=cb_,
          _cb
dummy-variables-rgx=_+$|(_[a-zA-Z0-9_]*[a-zA-Z0-9]+?$)|dummy|^ignored_|^unused_
ignored-argument-names=_.*|^ignored_|^unused_
init-import=yes
redefining-builtins-modules=six.moves,past.builtins,future.builtins

[SPELLING]
max-spelling-suggestions=4
spelling-store-unknown-words=no

[IMPORTS]
allow-wildcard-with-all=no
analyse-fallback-blocks=no
deprecated-modules=optparse,tkinter.tix
known-third-party=enchant

[CLASSES]
defining-attr-methods=__init__,
                      __new__,
                      setUp
exclude-protected=_asdict,
                  _fields,
                  _replace,
                  _source,
                  _make
valid-classmethod-first-arg=cls
valid-metaclass-classmethod-first-arg=mcs

[EXCEPTIONS]
overgeneral-exceptions=Exception
